[
 { im_redis, [{pool, [nickname_redis_pool]},
              {nickname_redis_pool,
               [
                {host, "redis"},
                {port, 6379},
                {db, 0},
                {pool_size, 1}
               ]}]}
].

%% Local Variables:
%% mode:erlang
%% coding: nil
%% End:
